version: '2'
services:
  app:
    image: veden/nodejs:8.0.0-alpine
    ports:
      - 8080:8080
    volumes:
      - ./japanese-study:/app
    command: npm start
  api:
    image: veden/nodejs:nodemon
    ports:
      - 8082:8082
    volumes:
      - ./japanese-api:/app
    command: nodemon index.js
